Console/obj/
Console/bin/
2_BasicCapabilitiesCSharp/obj/
2_BasicCapabilitiesCSharp/bin/
2_BasicCapabilitiesCSharp/.vs/
Control Structures/obj/
Control Structures/bin/
Files/obj/
Files/bin/
Arrays/obj/
Arrays/bin/
Methods/bin/
Methods/obj/
Structures/bin/
Structures/obj/
Collections/bin/
Collections/obj/
MyLibrary/bin/
MyLibrary/obj/
Networking/bin/
Networking/obj/
WPF/bin/
WPF/obj/
WpfApp
.vs/
*.log
*.suo