Console/.vs/
Console/obj/
Console/bin/
2_BasicCapabilitiesCSharp/obj/
2_BasicCapabilitiesCSharp/bin/
2_BasicCapabilitiesCSharp/.vs/
Control Structures/obj/
Control Structures/bin/
Arrays/obj/
Arrays/bin/
.vs/
*.log
*.suo